certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
contourpy==1.3.1
customtkinter==5.2.2
cycler==0.12.1
cma==4.0.0
Cython==0.29.37
darkdetect==0.8.0
easydict==1.13
embreex==2.17.7.post6
fonttools==4.56.0
idna==3.10
kiwisolver==1.4.8
matplotlib==3.10.1
numpy==1.26.4
packaging==24.2
pandas==2.2.3
pillow==11.1.0
platformdirs==4.3.7
pooch==1.8.2
pyembree==0.1.12
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2025.1
pyvista==0.44.2
PyYAML==6.0.2
reportlab==4.3.1
requests==2.32.3
rtree==1.4.0
scipy==1.15.2
scooby==0.10.0
six==1.17.0
trimesh==3.23.5
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
vtk==9.3.1
xxhash==3.5.0
